<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="MasterPage.master.cs" Inherits="Slice.User.MasterPage" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <title></title>
    <asp:ContentPlaceHolder ID="head" runat="server">
        <link href="Content/ContentBox.css" rel="stylesheet"/>
    </asp:ContentPlaceHolder>
</head>
    <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">        
    </asp:ContentPlaceHolder>
</html>
