body {
    background-color: lightblue;
    font-family: "Cambria";
    font-size: 18px;
}

a {
    text-decoration: none;
}

.content {
    margin: auto;
    background-color: white;
    width: 80%;
    padding: 10px;
    border: ridge 1px gray;
    box-shadow: 5px 5px 5px;
}

@media only screen and (min-width:1200px) {
    body {
        font-size: 20px;
    }

    .content {
        width: 300px;
        height: 300px;
    }
}

@media only screen and (min-width:200px) {
    body {
        font-size: 20px;
    }

    .content {
        width: 400px;
        height: 400px;
    }
}
