body {
    background-color: lightblue;
    font-family: "Cambria";
    font-size: 18px;
}

a {
    text-decoration: none;
}

.content {
    background-color: white;
    width: 50%;
    border: ridge 1px gray;
    box-shadow: 2.5px 2.5px 2.5px;
}