body {
    background-color: lightblue;
    font-family: "Cambria";
    font-size: 18px;
}

a {
    text-decoration: none;
}

.content {
    background-color: white;
    width: 40%;
    border: ridge 1px gray;    
}

#TitleTxt{    
    color:chocolate;
}

#RegButton {
    color: antiquewhite;
    background-color: goldenrod;
    border-radius: 3px;
    width: 20%;
    border: solid 1px gold;    
}
