<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="MasterPage.master.cs" Inherits="Slice.Admin.MasterPage" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <title></title>
    <asp:ContentPlaceHolder ID="head" runat="server">
        <link href="Content/ContentBox.css" rel="stylesheet"/>
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
        <div>            
        </div>
    </form>
</body>
</html>
